<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.3/dist/vuetify-labs.css" rel="stylesheet"/>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.3/dist/vuetify.min.js"></script>

    <div id="app"></div>
    <script type="text/x-template" id="app-template">
        <v-app>
            <v-container>
                <template v-if="steps.length">
                    <div v-for="(step, index) in steps" :key="index">
                        <v-card v-if="currentStep === index" flat>
                            <div>
                                <h1>{{step.title}}</h1>
                                <p>{{step.description}}</p>
                            </div>
                            <div v-if="step.sections.length" v-for="(section, sectionIdx) in step.sections">
                                <div>
                                    <h1>{{section.title}}</h1>
                                    <p>{{section.description}}</p>
                                </div>
                                <div v-if="index === currentStep" v-for="(field, fieldIndx) in sectionQuestions(index, sectionIdx)">
                                    <v-card-title>
                                        {{ field.label }}
                                        <span v-if="field.required" style="color: red;">*</span>
                                    </v-card-title>
                                    <p v-if="field.help && field.help.length">{{ field.help }}</p>
                                    <v-card-text>
                                        <v-text-field
                                        v-if="field.type !== 'select'"
                                        v-model="field.value"
                                        :type="field.type"
                                        @blur="validateField(field)"
                                        :error-messages="field.error"
                                        :placeholder="field.placeholder"
                                        />
                                        <v-select
                                        v-if="field.type === 'select'" 
                                        v-model="field.value"
                                        :items="filteredOptions(field)"
                                        @blur="validateField(field)"
                                        :error-messages="field.error"
                                        :placeholder="field.placeholder"
                                        solo
                                        />
                                    </v-card-text>
                                </div>
                            </div>
                        </v-card>
                    </div>
                </template>
                <p><span style="color: red;">*</span> means field is required</p>
                <v-btn @click="previousStep" v-if="stepHistory.length > 0">Previous</v-btn>
                <v-btn :disabled="!isStepValid" @click="nextStep" v-if="currentStep < steps.length - 1">Next</v-btn>
                <v-btn :disabled="!isStepValid" @click="submitForm" v-if="currentStep === steps.length - 1">Submit</v-btn>
            </v-container>
        </v-app>
    </script>
    <script>
        const { createApp, ref , computed} = Vue;
        const { createVuetify } = Vuetify;

        const vuetify = createVuetify();

        const app = createApp({
            template: "#app-template",
            setup() {

                //manage steps
                const currentStep = ref(0);
                const stepHistory = ref([]);
                
                const steps = ref([{title : 'the first step', description : 's1 desc' 
                    , sections : [{title : 'the first section of s1', description : 'the desc of sec1 s1'}, {title : 'the second section of s1', description : 'the desc of sec2 s1'}]
                }
                , {title : 'the second step', description : 's2 desc', 
                    sections : [{title : '', description : ''}]
                }, {title : 'the third step', description : 's3 desc', 
                    sections : [{title : '', description : ''}]   
                }]);
                const stepsQty = steps.value.length+1;
                
                const getaways = ref([
                    [{ condition: () => questions.value[0].value == 0, step: 2 }],  
                    [{ condition: () => true, step: 2 }],
                    [{ condition: () => true, step: 3 }],
                ]);

                //manage questions
                const questions = ref([
                    { step: 0, section : 0, id: 'question_1',
                      type: 'number', label: 'Username', value: null,
                      required: true, 
                      errors: [{ condition: () => !isMultipleOf(questions.value[0].value, 3), msg: "Entry is not multiple of 3" }, { condition: () => !isMultipleOf(questions.value[0].value, 5), msg: "Entry is not multiple of 5" }], 
                      error: '', options : null, showif : () => true
                    , help: 'this is a help message', placeholder: 'this is a placeholder'},
                    { step: 0, section : 1, id: 'question_2', type: 'text',  label: 'Email', value: null, required: false, errors: [{ condition: () => !isMultipleOf(questions.value[0].value, 6), msg: "Entry of q1 is not multiple of 6" }], error: '' , options : null, showif : () => questions.value[0].value != 0, help: 'this is a help message', placeholder: 'this is a placeholder'},
                    { step: 1, section : 0, id: 'question_3', type: 'date',   label: 'Birthdate', value: null, required: true, errors: [], error: '', options : null, showif : () => true, help: 'this is a help message', placeholder: 'this is a placeholder'},
                    { step: 2, section : 0, id: 'question_4', type: 'select', label: 'the select', value: null, required: true, errors: [], error: '', options : [{ condition: () => questions.value[0].value != 0, value: 'option1' }, {condition : () => true , value : 'option 2'}], showif : () => questions.value[1].value != 'hola', help: 'this is a help message', placeholder: 'this is a placeholder'}
                ]);

                //utils

                const isStepValid = computed(() => {
                    const vq = questions.value.filter((q)=>q.step === currentStep.value && q.showif());
                    return vq.every((q) => q.error === '' && (!q.required || (q.value && q.value !== '') ));                    ;
                })

                const sectionQuestions = (stepIdx, sectionIdx) => {
                    return questions.value.filter((q) =>
                    {   if(q.section === sectionIdx && q.step === stepIdx){
                            if(q.showif()){
                                return true;
                            }  else {
                                q.value = null;
                                return false;
                            }
                        }
                        return false
                    } );
                }

                const filteredOptions = (field) => {
                    if (field.type === 'select' && Array.isArray(field.options)) {
                        return field.options
                        .filter((option) => option.condition && option.condition())
                        .map((option) =>  option.value);
                    }
                    return [];
                };
                
                const nextStep = () => {
                    if (currentStep.value < stepsQty - 1) {
                        let next = currentStep.value + 1;

                        if (getaways.value[currentStep.value]) {
                            getaways.value[currentStep.value].forEach(gateway => {
                                if (gateway.condition()) {
                                    next = gateway.step;
                                }
                            });
                        }

                        stepHistory.value.push(currentStep.value);
                        currentStep.value = next;
                    }
                };

                const previousStep = () => {
                    if (stepHistory.value.length > 0) {
                        currentStep.value = stepHistory.value.pop();
                    }
                };

                const validateField = (field) => {
                    if (field.required && field.value == ''){
                        field.error = 'This field is required'
                        return false
                    }

                    field.error = field.errors
                        .map((error) => error.condition(field.value) ? error.msg + ' ' : "").filter((e) => e.length).toString()
            
                    if (field.error.length >= 0){
                        return false;
                    }else {
                        field.error = "";
                        return true;
                    }
                };

                const submitForm = () => {
                    questions.value.forEach(field => validateField(field)); 
                    if (questions.value.every(field => !field.error)) {
                        alert('Form submitted successfully!');
                    }
                };

                return { currentStep, questions, isStepValid, nextStep, previousStep, submitForm, validateField, filteredOptions,sectionQuestions, stepHistory, steps };
            }
        });

        app.use(vuetify).mount('#app');
    </script>
</body>
</html>

<script>
    const isMultipleOf = (value, of) => { 
        return (value % of) === 0;
    }

    const isDivisorOf = (divisor, of) => { 
        return (of % divisor) === 0;
    }

    const like = (value, regex) => {
        return regex.test(value);
    }

    const lengthEquals = (str1, str2) => {
        return str1.length === str2.length;
    }
    
    const longerThan = (str1, str2) => {
        return str1.length > str2.length;
    }

    const shorterThan = (str1, str2) => {
        return str1.length < str2.length;
    }

    const isEmpty = (str) => {
        return str.length == 0;
    }

    const isBefore = (date1, date2) => {
        return new Date(date1) < new Date(date2);
    }
    
    const isAfter = (date1, date2) => {
        return new Date(date1) > new Date(date2);
    }

    const isWeekend = (date) => {
        const day = new Date(date).getDay();
        return day === 0 || day === 6;
    }
</script>
