<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.3/dist/vuetify-labs.css" rel="stylesheet"/>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.3/dist/vuetify.min.js"></script>

    <div id="app"></div>
    <script type="text/x-template" id="app-template">
        <v-app>
            <div class="background">
                <v-container class="container">
                    <form @submit.prevent="submitForm">
                        <h1 class="form-title">{{ formTitle }}</h1>
                        <template v-if="steps.length">
                            <div v-for="(step, index) in steps" :key="index">
                                <v-card v-if="currentStep === index" flat class="step-container">
                                    <div class="step">
                                        <h2 class="step-title">{{ step.title }}</h2>
                                        <p class="step-description">{{ step.description }}</p>
                                    </div>
                                    <div 
                                        v-if="step.sections.length" 
                                        v-for="(section, sectionIdx) in stepSections(index)"
                                        :key="sectionIdx"
                                    >
                                        <div class="section">
                                            <div class="section-border"></div>
                                            <h3 class="section-title">{{ section.title }}</h3>
                                            <p class="section-description">{{ section.description }}</p>
                                        </div>
                                        <div 
                                            v-if="index === currentStep" 
                                            v-for="(field, fieldIndx) in sectionQuestions(index, sectionIdx)" 
                                            :key="fieldIndx"
                                            class="questions"
                                        >
                                            <v-row>
                                                <v-card-title>
                                                    {{ field.label }}
                                                    <span v-if="field.required" style="color: red;">*</span>
                                                </v-card-title>
                                                <div class="help-icon-container">
                                                    <span :title="field.help">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </v-row>
                                            <v-card-text>
                                                <v-text-field
                                                    v-if="['text', 'number', 'date', 'file', 'password'].includes(field.type)"
                                                    v-model="field.value"
                                                    :type="field.type"
                                                    :id="field.id"
                                                    @blur="validateField(field)"
                                                    :error-messages="field.error"
                                                    :placeholder="field.placeholder"
                                                />
                                                <v-select
                                                    v-if="field.type === 'select'" 
                                                    :id="field.id"
                                                    v-model="field.value"
                                                    :items="filteredOptions(field)"
                                                    @blur="validateField(field)"
                                                    :error-messages="field.error"
                                                    :placeholder="field.placeholder"
                                                    solo
                                                />
                                                <div v-if="field.type ==='checkbox'">
                                                    <<v-radio-group v-model="field.value" :id="field.id" :multiple="true">
                                                        <v-radio
                                                            v-for="(option, optionIdx) in filteredOptions(field)"
                                                            :key="optionIdx"
                                                            :label="option"
                                                            :value="option"
                                                            />
                                                        <v-btn @click="field.value = null" class="w10 m1 prev-button">Clear</v-btn>
                                                    </v-radio-group>
                                                </div>
                                                <div v-if="field.type === 'radios'">
                                                    <v-radio-group v-model="field.value" :id="field.id">
                                                        <v-radio
                                                            v-for="(option, optionIdx) in filteredOptions(field)"
                                                            :key="optionIdx"
                                                            :label="option"
                                                            :value="option"
                                                            />
                                                        <v-btn @click="field.value = null; " class="w10 m1 prev-button">Clear</v-btn>
                                                    </v-radio-group>
                                                </div>
                                                <div v-if="field.type === 'image'">
                                                    <v-file-input
                                                    accept="image/png, image/jpeg, image/bmp"
                                                    :label="field.label"
                                                    :id="field.id"
                                                    @blur="validateField(field)"
                                                    :error-messages="field.error"
                                                    :placeholder="field.placeholder"
                                                    v-model="field.value"
                                                  ></v-file-input>                                                
                                                </div>
                                                <div v-if="field.type === 'textarea'">
                                                    <v-textarea
                                                    v-model="field.value"
                                                    :type="field.type"
                                                    :id="field.id"
                                                    @blur="validateField(field)"
                                                    :error-messages="field.error"
                                                    :placeholder="field.placeholder"
                                                />                                             
                                                </div>
                                            </v-card-text>
                                        </div>
                                    </div>
                                </v-card>
                            </div>
                        </template>
                        <p v-if="currentStep != steps.length - 1" class="required-note">
                            <span style="color: red;">*</span> means field is required
                        </p>
                        <v-btn 
                            @click="previousStep" 
                            v-if="stepHistory.length > 0 && currentStep != steps.length - 1" 
                            class="prev-button"
                        >
                            Previous
                        </v-btn>
                        <v-btn 
                            :disabled="!isStepValid" 
                            @click="nextStep" 
                            v-if="currentStep < steps.length - 2 && !goesToEnd" 
                            class="prev-button next-button"
                        >
                            Next
                        </v-btn>
                        <v-btn 
                            type="submit" 
                            :disabled="!isStepValid" 
                            v-if="goesToEnd" 
                            class="prev-button submit-button"
                        >
                            {{ submitText }}
                        </v-btn>
                    </form>
                </v-container>                
            </div>
        </v-app>
    </script>
    <script>
        const { createApp, ref , computed} = Vue;
        const { createVuetify } = Vuetify;

        const vuetify = createVuetify();

        const app = createApp({
            template: "#app-template",
            setup() {

                const formTitle = 'Flowform';
                const submitText = 'Submit';

                //manage steps
                const currentStep = ref(0);
                const stepHistory = ref([]);
                const closure = "This is the clossure message"

                const steps = ref([{title : 'the first step', description : 's1 desc' 
                    , sections : [{title : 'the first section of s1', description : 'the desc of sec1 s1', showif : () => true}, {title : 'the second section of s1', description : 'the desc of sec2 s1', showif : () => true}]
                    , getaways : [{ condition: () => questions.value[0].value == 0, step: 2 }]
                }
                , {title : 'the second step', description : 's2 desc', 
                    sections : [{title : 'the first section of second step', description : 'the first section desc of second step',showif : () => questions.value[1].value != 'hola' && questions.value[0].value > 6}]
                    ,getaways : [{ condition: () => questions.value[1].value == 'jiji', step : 3}]
                }, {title : 'the third step', description : 's3 desc', 
                    sections : [{title : '', description : '', showif :() => true}]
                    , getaways : []   
                }, {title : 'Form submited successfully', description : closure, 
                    sections : []
                    , getaways : []   
                }]);

                const stepsQty = steps.value.length;

                //manage questions
                const questions = ref([
                    { step: 0, section : 0, id: 'question_1',
                      type: 'number', label: 'Username', value: null,
                      required: true, 
                      errors: [{ condition: () => !isMultipleOf(questions.value[0].value, 3), msg: "Entry is not multiple of 3" }, { condition: () => !isMultipleOf(questions.value[0].value, 5), msg: "Entry is not multiple of 5" }], 
                      error: '', options : null, showif : () => true
                    , help: 'this is a help message', placeholder: 'this is a placeholder'},
                    { step: 0, section : 1, id: 'question_2', type: 'text',  label: 'Email', value: null, required: false, errors: [{ condition: () => !isMultipleOf(questions.value[0].value, 6), msg: "Entry of username is not multiple of 6" }], error: '' , options : null, showif : () => questions.value[0].value != 0, help: 'this is a help message', placeholder: 'this is a placeholder'},
                    { step: 1, section : 0, id: 'question_3', type: 'date',   label: 'Birthdate', value: null, required: true, errors: [], error: '', options : null, showif : () => true, help: 'this is a help message', placeholder: 'this is a placeholder'},
                    { step: 2, section : 0, id: 'question_4', type: 'select', label: 'the select', value: null, required: true, errors: [], error: '', options : [{ condition: () => questions.value[0].value != 0, value: 'option1' }, {condition : () => true , value : 'option 2'}], showif : () => questions.value[1].value != 'hola', help: 'this is a help message', placeholder: 'this is a placeholder'}
                ]);

                //utils

                const isStepValid = computed(() => {
                    const vq = questions.value.filter((q)=>q.step === currentStep.value && q.showif() && steps.value[q.step].sections[q.section].showif());
                    return vq.every((q) => q.error === '' && (!q.required || (q.value && q.value !== '') ));                    
                })

                const stepSections = (stepIdx) => {
                    return steps.value[stepIdx].sections.filter((s, i) => {
                        if (s.showif()){
                            return true;
                        } else {
                            questions.value.forEach((q) =>{if (q.section === i && q.step === stepIdx) {
                                    q.value = null
                                }});
                            return false;
                        }
                    });
                }
                
                const goesToEnd = computed(() => {
                    if (currentStep.value == steps.value.length - 2) {
                        return true;
                    }

                    let shouldGoToEnd = false;

                    for (var getaway of steps.value[currentStep.value].getaways) {
                        if (getaway.step === steps.value.length - 1 && getaway.condition()) {
                            shouldGoToEnd = true;
                            break; 
                        }
                    }

                    return shouldGoToEnd;
                });

                const sectionQuestions = (stepIdx, sectionIdx) => {
                    return questions.value.filter((q) =>
                    {   if(q.section === sectionIdx && q.step === stepIdx){
                            if(q.showif()){
                                return true;
                            }  else {
                                q.value = null;
                                return false;
                            }
                        }
                        return false
                    } );
                }

                const filteredOptions = (field) => {
                    if ((field.type === 'select' || field.type === 'radios' || field.type === 'checkbox') && Array.isArray(field.options)) {
                        return field.options
                        .filter((option) => option.condition && option.condition())
                        .map((option) =>  option.value);
                    }
                    return [];
                };
                
                const nextStep = () => {
                    if (currentStep.value < stepsQty - 1) {
                        let next = currentStep.value + 1;

                        if (steps.value[currentStep.value].getaways) {
                            steps.value[currentStep.value].getaways.forEach(gateway => {
                                if (gateway.condition()) {
                                    next = gateway.step;
                                }
                            });
                        }

                        stepHistory.value.push(currentStep.value);
                        currentStep.value = next;
                    }
                };

                const previousStep = () => {
                    if (stepHistory.value.length > 0) {
                        currentStep.value = stepHistory.value.pop();
                    }
                };

                const validateField = (field) => {
                    if (field.required && field.value == ''){
                        field.error = 'This field is required'
                        return false
                    }

                    field.error = field.errors
                        .map((error) => error.condition(field.value) ? error.msg + ' ' : "").filter((e) => e.length).toString()
            
                    if (field.error.length >= 0){
                        return false;
                    }else {
                        field.error = "";
                        return true;
                    }
                };

                const submitForm = () => {
                    currentStep.value = steps.value.length - 1;

                    //This is the place where you can put your FlowForm submission logic. 
                    //Thanks for choosing FlowForm. Enjoy!
                };

                return { currentStep, questions, isStepValid, goesToEnd, nextStep, previousStep, submitForm, validateField, filteredOptions,sectionQuestions, stepSections, stepHistory, steps, formTitle, submitText };
            }
        });

        app.use(vuetify).mount('#app');
    </script>
</body>
</html>

<script>
    const isMultipleOf = (value, of) => { 
        return (value % of) === 0;
    }

    const isDivisorOf = (divisor, of) => { 
        return (of % divisor) === 0;
    }

    const like = (value, regex) => {
        return regex.test(value);
    }

    const lengthEquals = (str1, str2) => {
        return str1.length === str2.length;
    }
    
    const longerThan = (str1, str2) => {
        return str1.length > str2.length;
    }

    const shorterThan = (str1, str2) => {
        return str1.length < str2.length;
    }

    const isEmpty = (str) => {
        return str.length == 0;
    }

    const isBefore = (date1, date2) => {
        return new Date(date1) < new Date(date2);
    }
    
    const isAfter = (date1, date2) => {
        return new Date(date1) > new Date(date2);
    }

    const isWeekend = (date) => {
        const day = new Date(date).getDay();
        return day === 0 || day === 6;
    }

    const showHelpText = ref(false);  // This will toggle the visibility of the help text

</script>

<style scoped>
    .background {
        background-color: #8DA290;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        background-color: #DEE2D9;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 60%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .form-title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: #8DA290;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1rem;
    }

    .step-container {
        margin-top: 1rem;
        background-color: #bec7b4;
    }

    .step {
        margin-top: 1rem;
        margin-left: 5%;
        background-color: #bec7b4;
    }

    .step-title {
        font-size: 1.75rem;
        font-weight: 600;
        color: #555555;
        margin: 0 0 0.25rem 0;
        font-family: 'Roboto', sans-serif;
    }

    .step-description {
        font-size: 1rem;
        color: #777777;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin-bottom: 1rem;
    }

    .section {
        margin-top: 1rem;
        padding-bottom: 1rem;
        background-color: #DEE2D9;
    }

    .section-border {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        text-align: center;
        overflow: hidden;
        background-color: #DEE2D9;
        padding: 0;
    }

    .section-title {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: normal;
        color: #333333;
        font-family: 'Roboto', sans-serif;
    }

    .section-description {
        font-size: 1rem;
        color: #777777;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
    }

    .questions {
        background-color: #DEE2D9;
    }

    .v-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .required-note {
        font-style: italic;
        margin-bottom: 1rem;
    }

    .prev-button {
        margin-right: 1rem;
    }

    .next-button, .submit-button {
        margin-left: 1rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .submit-button {
        background-color: #8DA290;
        color: white;
    }

    .w10{
        width: 10%;
    }
    .m1{
        margin: 1rem;
    }

    .radios{
        color: brown;
    }
</style>
